@font-face {
    font-family: manrope;
    font-style: normal;
    font-weight: 400;
    src: local("Manrope"), url(./../font/manrope-regular.woff) format("woff");
}

@font-face {
    font-family: manrope;
    font-style: normal;
    font-weight: 100;
    src: local("Manrope"), url(./../font/manrope-thin.woff) format("woff");
}

@font-face {
    font-family: manrope;
    font-style: normal;
    font-weight: 300;
    src: local("Manrope"), url(./../font/manrope-light.woff) format("woff");
}

@font-face {
    font-family: manrope;
    font-style: normal;
    font-weight: 500;
    src: local("Manrope"), url(./../font/manrope-medium.woff) format("woff");
}

@font-face {
    font-family: manrope;
    font-style: normal;
    font-weight: 600;
    src: local("Manrope"), url(./../font/manrope-semibold.woff) format("woff");
}

@font-face {
    font-family: manrope;
    font-style: normal;
    font-weight: 700;
    src: local("Manrope"), url(./../font/manrope-bold.woff) format("woff");
}

/**
 * @license
 *
 * Font Family: New Title
 * Designed by: Julie Soudanne, Jérémie Hornus
 * URL: https://www.fontshare.com/fonts/new-title
 * © 2023 Indian Type Foundry
 *
 * Font Styles:
 * New Title Variable(Variable font)
 * New Title Extralight
 * New Title Light
 * New Title Regular
 * New Title Medium
 * New Title Bold
 *
*/

/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 200.0;
*
* available axes:

* 'wght' (range from 200.0 to 700.0)

*/
@font-face {
    font-family: "NewTitle-Variable";
    src: url("../font/NewTitle-Variable.woff2") format("woff2"), url("../font/NewTitle-Variable.woff") format("woff"),
        url("../font/NewTitle-Variable.ttf") format("truetype");
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "NewTitle-Extralight";
    src: url("../font/NewTitle-Extralight.woff2") format("woff2"),
        url("../font/NewTitle-Extralight.woff") format("woff"),
        url("../font/NewTitle-Extralight.ttf") format("truetype");
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "NewTitle-Light";
    src: url("../font/NewTitle-Light.woff2") format("woff2"), url("../font/NewTitle-Light.woff") format("woff"),
        url("../font/NewTitle-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "NewTitle-Regular";
    src: url("../font/NewTitle-Regular.woff2") format("woff2"), url("../font/NewTitle-Regular.woff") format("woff"),
        url("../font/NewTitle-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "NewTitle-Medium";
    src: url("../font/NewTitle-Medium.woff2") format("woff2"), url("../font/NewTitle-Medium.woff") format("woff"),
        url("../font/NewTitle-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "NewTitle-Bold";
    src: url("../font/NewTitle-Bold.woff2") format("woff2"), url("../font/NewTitle-Bold.woff") format("woff"),
        url("../font/NewTitle-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
/**
 * @license
 *
 * Font Family: Bevellier
 * Designed by: Arya Purohit, Barbara Bigosinska
 * URL: https://www.fontshare.com/fonts/bevellier
 * © 2023 Indian Type Foundry
 *
 * Font Styles:
 * Bevellier Variable(Variable font)
 * Bevellier Variable Italic(Variable font)
 * Bevellier Thin
 * Bevellier Thin Italic
 * Bevellier Extralight
 * Bevellier Extralight Italic
 * Bevellier Light
 * Bevellier Light Italic
 * Bevellier Regular
 * Bevellier Italic
 * Bevellier Medium
 * Bevellier Medium Italic
 * Bevellier Semibold
 * Bevellier Semibold Italic
 * Bevellier Bold
 * Bevellier Bold Italic
 * Bevellier Black
 * Bevellier Black Italic
 *
*/

/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 100.0;
*
* available axes:

* 'wght' (range from 100.0 to 900.0)

*/

@font-face {
    font-family: "Bevellier-Variable";
    src: url("../font/Bevellier-Variable.woff2") format("woff2"),
        url("../font/Bevellier-Variable.woff") format("woff"),
        url("../font/Bevellier-Variable.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

/**
  * This is a variable font
  * You can controll variable axes as shown below:
  * font-variation-settings: 'wght' 100.0;
  *
  * available axes:
  
  * 'wght' (range from 100.0 to 900.0)
  
  */

@font-face {
    font-family: "Bevellier-VariableItalic";
    src: url("../font/Bevellier-VariableItalic.woff2") format("woff2"),
        url("../font/Bevellier-VariableItalic.woff") format("woff"),
        url("../font/Bevellier-VariableItalic.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Bevellier-Thin";
    src: url("../font/Bevellier-Thin.woff2") format("woff2"), url("../font/Bevellier-Thin.woff") format("woff"),
        url("../font/Bevellier-Thin.ttf") format("truetype");
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Bevellier-ThinItalic";
    src: url("../font/Bevellier-ThinItalic.woff2") format("woff2"),
        url("../font/Bevellier-ThinItalic.woff") format("woff"),
        url("../font/Bevellier-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Bevellier-Extralight";
    src: url("../font/Bevellier-Extralight.woff2") format("woff2"),
        url("../font/Bevellier-Extralight.woff") format("woff"),
        url("../font/Bevellier-Extralight.ttf") format("truetype");
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Bevellier-ExtralightItalic";
    src: url("../font/Bevellier-ExtralightItalic.woff2") format("woff2"),
        url("../font/Bevellier-ExtralightItalic.woff") format("woff"),
        url("../font/Bevellier-ExtralightItalic.ttf") format("truetype");
    font-weight: 200;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Bevellier-Light";
    src: url("../font/Bevellier-Light.woff2") format("woff2"), url("../font/Bevellier-Light.woff") format("woff"),
        url("../font/Bevellier-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Bevellier-LightItalic";
    src: url("../font/Bevellier-LightItalic.woff2") format("woff2"),
        url("../font/Bevellier-LightItalic.woff") format("woff"),
        url("../font/Bevellier-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Bevellier-Regular";
    src: url("../font/Bevellier-Regular.woff2") format("woff2"), url("../font/Bevellier-Regular.woff") format("woff"),
        url("../font/Bevellier-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Bevellier-Italic";
    src: url("../font/Bevellier-Italic.woff2") format("woff2"), url("../font/Bevellier-Italic.woff") format("woff"),
        url("../font/Bevellier-Italic.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Bevellier-Medium";
    src: url("../font/Bevellier-Medium.woff2") format("woff2"), url("../font/Bevellier-Medium.woff") format("woff"),
        url("../font/Bevellier-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Bevellier-MediumItalic";
    src: url("../font/Bevellier-MediumItalic.woff2") format("woff2"),
        url("../font/Bevellier-MediumItalic.woff") format("woff"),
        url("../font/Bevellier-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Bevellier-Semibold";
    src: url("../font/Bevellier-Semibold.woff2") format("woff2"),
        url("../font/Bevellier-Semibold.woff") format("woff"),
        url("../font/Bevellier-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Bevellier-SemiboldItalic";
    src: url("../font/Bevellier-SemiboldItalic.woff2") format("woff2"),
        url("../font/Bevellier-SemiboldItalic.woff") format("woff"),
        url("../font/Bevellier-SemiboldItalic.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Bevellier-Bold";
    src: url("../font/Bevellier-Bold.woff2") format("woff2"), url("../font/Bevellier-Bold.woff") format("woff"),
        url("../font/Bevellier-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Bevellier-BoldItalic";
    src: url("../font/Bevellier-BoldItalic.woff2") format("woff2"),
        url("../font/Bevellier-BoldItalic.woff") format("woff"),
        url("../font/Bevellier-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: italic;
}

@font-face { 
    font-family: "Bevellier-Black";
    src: url("../font/Bevellier-Black.woff2") format("woff2"), url("../font/Bevellier-Black.woff") format("woff"),
        url("../font/Bevellier-Black.ttf") format("truetype");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Bevellier-BlackItalic";
    src: url("../font/Bevellier-BlackItalic.woff2") format("woff2"),
        url("../font/Bevellier-BlackItalic.woff") format("woff"),
        url("../font/Bevellier-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-display: swap;
    font-style: italic;
}