.buy {
    width: 100%;
    max-width: 370px;
    position: fixed;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1029;
    &_ticket {
        width: 100%;
        // height: auto;
        padding: 32px 44px 0 44px;
        background: white;
        border: 1px solid rgba(238, 238, 238, 0.9);
        backdrop-filter: blur(10px);
        border-radius: 6px;
        overflow: auto;
    }
    &_title {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 36px;
        color: #000000;
        text-align: center;
        margin-bottom: 0;
    }
    &_subtitle {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #000000;
        margin-bottom: 16px;
    }
    &_total {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.3);
    }
    &_price {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        text-align: right;
        text-transform: uppercase;
        color: #000000;
    }
    &_coupon {
        width: 100%;
        height: 52px;
        background: none;
        border-top: 1px solid #d0d0d0;
        border-bottom: 1px solid #d0d0d0;
        border-right: 0;
        border-left: 0;
        text-align: center;
        font-size: 26px;
        margin-bottom: 32px;
        &::placeholder { 
            
        }
    }
    &_box {
        margin: 0 auto;
        width: 100%;
        max-width: 250px;
        padding: 6px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(238, 238, 238, 0.9);
        backdrop-filter: blur(10px);
        border-radius: 6px;
        background: rgba(238, 238, 238, 0.6);
        // background: red;
        &-check {
            max-width: 390px;
        }
    }
    &_btn {
        width: 100%;
        max-width: 100%;
        height: 60px;
        border-radius: 4px;
        border: none;
        &-logo {
            cursor: pointer;
            margin-right: 6px;
            background: rgb(255, 240, 0);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            background-origin: content-box;
        }
        &-buy {
            background: linear-gradient(114.76deg, #4949EE 22.07%, #0000F5 106.11%);
            color: rgba(255, 255, 255, 1);
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
        }
        &-undo {
            margin-right: 6px;
            background: white;
            width: 60px;
            max-width: 60px;
            flex-grow: 0;
            flex-shrink: 0;
        }
        &-check {
            width: 100%;
            max-width: 100%;
            background: linear-gradient(114.76deg, #4949EE 22.07%, #0000F5 106.11%);
            color: #ffffff;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
        }
    }
}
