.dropdown {
    &_container {
        width: 90px;
        background-color: white;
        border: 1px solid rgba(221, 221, 221, 1);
        font-family: Bevellier-Variable;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;
    }
    &_item {
        cursor: pointer;
        width: 100%;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        p {
            font-weight: 500;
            line-height: 24px;
            margin-right: 4px;
            margin-bottom: 0;
        }
        img {
            margin-right: 8px;
        }
        &:hover {
            background-color: rgba(221, 221, 221, 1);
        }
    }
}
