.profile {
    &_box {
        border-bottom: 1px solid rgba(220, 220, 220, 0.6);
        padding-bottom: 4px;
        margin-bottom: 24px;
    }
    &_tag {
        height: 20px;
        padding: 4px;
        border-radius: 6px;
        gap: 4px;
        background: rgba(220, 220, 220, 0.6);
        color: black;
        font-family: Manrope;
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
        letter-spacing: 0;
        margin-right: 4px;
        a {
            color: black;
        }
    }
    &_label {
        display: block;
        font-family: Manrope;
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
        letter-spacing: 0;
        text-align: left;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 4px;
    }
    // 驗證碼
    &_code {
        width: 192px;
        font-family: Manrope;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0;
        border-radius: 4px;
        pointer-events: auto;
        border: 1px solid black;
        overflow: hidden;
        white-space: nowrap; 
        text-overflow: ellipsis;
    }
    &_input {
        pointer-events: none;
        font-family: manrope;
        font-size: 20px;
        font-weight: 500;
        width: 75%;
        line-height: 20px;
        letter-spacing: 0;
        border-radius: 4px;
        border: 1px solid white;
        overflow: hidden;
        white-space: nowrap; /* Don't forget this one */
        text-overflow: ellipsis;
        &-focus {
            pointer-events: auto;
            border: 1px solid black;
        }
    }
    &_edit {
        cursor: pointer;
    }
    &_check, &_save {
        width: 72px;
        line-height: 32px;
        border-radius: 4px;
        border: none;
        background: linear-gradient(114.76deg, #4949ee 22.07%, #0000f5 106.11%);
        color: white;
    }
}
