.qr {
    &_container {
        height: 65vh;
        min-height: 600px;
        max-height: 700px;
        border-width: 1px 0px;
        border-style: solid;
        border-color: #0d0d10;
        position: relative;
    }
    &_modal {
        width: 100%;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }
    &_title {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        text-align: center;
        color: #0d0d10;
        margin-bottom: 6px;
    }
    &_result {
        width: fit-content;
        line-height: 20px;
        block-size: fit-content;
        background: rgba(238, 238, 238, 0.06);
        border: 1px solid #d0d0d0;
        border-radius: 6px;
        color: #d0d0d0;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        display: block;
        padding: 0 4px;
        // margin: 0 auto;
        &-used {
            border: 1px solid red;
            color: red;
        }
        &-gift {
            cursor: pointer;
            background: rgba(179, 255, 209, 0.6);
            border: 1px solid rgba(98, 196, 0, 1);
            color: rgba(98, 196, 0, 1);
        }
    }
    &_status {
        width: fit-content;
        line-height: 20px;
        block-size: fit-content;
        background: rgba(238, 238, 238, 0.6);
        border-radius: 6px;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        color: #0d0d10;
        text-align: center;
        display: block;
        padding: 0 4px;
        margin: 0 auto;
        &-select {
            width: 84px;
            text-align: left;
            border: 0;
            outline: none;
        }
    }
    &_box {
        background-color: white;
        position: relative;
        width: 300px;
        height: 300px;
        border: 2px solid #0d0d10;
        border-radius: 6px;
        padding: 32px;
        margin: 0 auto;
        p, a {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &_next {
        cursor: pointer;
    }
    &_item {
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        text-transform: uppercase;
        color: #0d0d10;
        margin: 0 16px 0 16px;
    }
}
