// QRCODE 掃描器
.scanner {
    width: 304px;
    height: 304px;
    border: 3px solid rgba(254, 254, 254, 0.2);
    border-radius: 12px;
    margin: 0 auto;
    margin-bottom: 16px;
    video {
        width: 298px !important;
        height: 298px !important;
        border-radius: 12px;
    }
    &__notice {
        position: fixed;
        z-index: 33;
        text-align: center;
        // font-family: "Manrope"; 
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        color: #fff;
        margin-bottom: 0;
    }
}
#qr-shaded-region {
    border-radius: 12px;
}
