// 首頁金句
.slogan {
    background: $gray-100;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: -1;
    &__container {
        // max-width: 1280px;
        // width: 100%;
        // padding: 0 16px;
        // @media (min-width: 512px) {
        //     padding: 0 30px;
        // }
        // @media (min-width: 768px) {
        //     padding: 0 30px;
        // }
        // @media (min-width: 1024px) {
        //     padding: 0 60px;
        // }
        // @media (min-width: 1400px) {
        //     padding: 0 60px;
        // }
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 164px;
        @media (min-width: 512px) {
            height: 240px;
        }
        @media (min-width: 768px) {
            height: 268px;
        }
        @media (min-width: 1024px) {
            height: 400px;
        }
        @media (min-width: 1400px) {
            height: 532px;
        }
        span {
            display: block;
            text-align: center;
            font-size: 32px;
            font-family: "ClashGrotesk-Semibold";
            height: 35px;
            line-height: 110%;
            margin-bottom: 8px;
            @media (min-width: 512px) {
                font-size: 44px;
                height: 48px;
                margin-bottom: 16px;
            }
            @media (min-width: 768px) {
                font-size: 50px;
                height: 55px;
            }
            @media (min-width: 1024px) {
                font-size: 80px;
                height: 88px;
                &:nth-child(1) {
                    text-align: left;
                }
                &:nth-child(2) {
                    text-align: right;
                }
                &:nth-child(3) {
                    text-align: center;
                }
                &:nth-child(4) {
                    text-align: right;
                }
            }
            @media (min-width: 1400px) {
                font-size: 110px;
                height: 121px;
            }
        }
    }
    &__text {
        cursor: pointer;
        display: block;
        position: relative;
        z-index: 999;
        &:hover {
            background: linear-gradient(90deg, #f6d365 0%, #fda085 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        &--hover {
            background: linear-gradient(90deg, #f6d365 0%, #fda085 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }
    &__badge {
        white-space: nowrap;
        position: fixed;
        top: 0;
        left: 0;
        font-size: 18px;
        height: 30px;
        line-height: 28px;
        color: #f1981e;
        border: 1px solid #f1981e;
        border-radius: 27px;
        pointer-events: none;
        padding: 0 12px;
        opacity: 0;
        z-index: 999;
        &--show {
            opacity: 1;
        }
    }
    &__img {
        position: fixed;
        top: 0;
        left: 0;
        width: 366px;
        height: 243px;
        border-radius: 6px;
        background-size: cover;
        background-position: center;
        background-color: transparent;
        border-radius: 6px;
        overflow: hidden;
        @media (min-width: 1024px) {
            width: 474px;
            height: 315px;
        }
        pointer-events: none;
        opacity: 0;
        &--show {
            opacity: 1;
        }
        //
        transform: translateX(10px);
        animation: float 7s ease-out infinite;
     
    }
    &__loading {
        position: fixed;
        width: 366px;
        height: 243px;
        border-radius: 6px;
        background-size: cover;
        background-position: center;
        background-color: transparent;
        @media (min-width: 1024px) {
            width: 474px;
            height: 315px;
        }
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // 動畫
        visibility: visible;
        opacity: 1;
        transition: opacity 0.6s, visibility 0.6s;
        &--hide {
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.6s, visibility 0.6s;
        }

        animation: float2 7s ease-out infinite;
     
    }
}
