.ticket {
    &_receipt {
        cursor: pointer;
        width: 20px;
        height: 20px;
        background: rgba(13, 13, 16, 0.1);
        border-radius: 6px;
        padding: 4px;
        flex-shrink: 0;
        flex-grow: 0;
    }
    &_number {
        display: flex;
        justify-content: flex-end;
        width: 34px;
    }
    &_input {
        background: none;
        width: 100%;
        height: 80px;
        border: 0;
        border-top: 1px solid rgba(208, 208, 208, 0.5);
        border-bottom: 1px solid rgba(208, 208, 208, 0.5);
        text-align: center;
        font-weight: 500;
        font-size: 26px;
        text-transform: uppercase;
        color: #d0d0d0;
    }
    &_stub {
        width: 100%;
        border: 2px solid #0d0d10;
        border-radius: 6px;
        margin-bottom: 4px;
    }
    &_header {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        p {
            font-style: normal;
            font-weight: 400;
            font-size: 26px;
            margin: 0;
        }
        img {
            cursor: pointer;
            width: 20px;
            background: rgba(13, 13, 16, 0.1);
            border-radius: 6px;
            padding: 4px;
        }
        padding: 16px;
        border-bottom: 2px dashed #0d0d10;
    }
    &_status {
        pointer-events: none;
        background: rgba(13, 13, 16, 0.1);
        border-radius: 6px;
        font-weight: 400;
        font-size: 12px;
        text-transform: uppercase;
        color: #0d0d10;
        padding: 0 4px;
        line-height: 20px;
    }
    &_result {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
    }
    &_total {
        // font-size: 26px;
        font-size: 16px;
        color: #0d0d10;
        margin: 0;
        &-highlight {
            opacity: 1;
            margin-right: 8px;
        }
        &-item {
            width: 65px;
        }
    }
    &_phone {
        width: fit-content;
        block-size: fit-content;
        line-height: 20px;
        background: rgba(13, 13, 16, 0.1);
        border-radius: 6px;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        color: #d0d0d0;
        display: block;
        padding: 0 4px;
        margin-top: 4px;
    }
    // 分票
    &_button {
        cursor: pointer;
        border: 2px solid #ffffff;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        padding: 0 6px;
        &-disable {
            pointer-events: none;
            border: 2px solid #040305;
        }
    }
    &_act {
        pointer-events: none;
        line-height: 26px;
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.8);
    }
    &_buy {
        z-index: 99;
        cursor: pointer;
        width: 44px;
        height: 44px;
        // background: #040305;
        border-radius: 4px;
        position: relative;
        &:hover {
            background: rgba(255, 255, 255, 0.6);
        }
        &-model {
            background: none;
            &:hover {
                background: rgba(13, 13, 16, 0.1);
            }
        }
        img {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
    &_item {
        font-weight: 500;
        font-size: 26px;
        color: #0d0d10;
        line-height: 26px;
        width: 80px;
        margin-left: 16px;
        &-price {
            width: 40px;
            font-size: 12px;
            text-align: center;
            margin-left: auto;
        }
    }
    &_counts {
        text-align: center;
        font-weight: 500;
        font-size: 26px;
        color: #0d0d10;
        line-height: 26px;
        height: 26px;
    }
    &_box {
        border-width: 1px 0px;
        border-style: solid;
        border-color: #0d0d10;
        // background-color: #040305;
        padding: 60px 1rem;
        &-unit {
            border: 0;
            padding: 64px 0;
            text-align: center;
            a {
                text-decoration: none;
            }
        }
    }
    &_title {
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 36px;
        color: #0d0d10;
        margin: 0;
        padding-bottom: 48px;
    }
    &_content {
        font-family: Manrope;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        // text-align: center;
        color: rgba(0, 0, 0, 1);
        padding-bottom: 16px;
        margin: 0;
        a {
            color: #0d0d10;
        }
        &-item {
            font-weight: 600;
            line-height: 14px;
            letter-spacing: 0em;
            padding-bottom: 6px;
            margin: 0;
        }
    }
    &_footer {
        padding: 60px 0 120px 0;
        a,
        p {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            color: #0d0d10;
            text-decoration: none;
        }
        a {
            display: inline-block;
        }
    }
    &_list {
        width: 100%;
        padding-left: 24px;
        position: relative;
    }
    &_index {
        text-align: end;
        width: 20px;
        position: absolute;
        top: 0;
        left: 0;
    }
    &_model {
        width: 244px;
        height: auto;
        background: rgba(238, 238, 238, 0.6);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(238, 238, 238, 0.9);
        padding: 16px;
        position: fixed;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        z-index: 999999999;
        border-radius: 6px;
        &-receipt {
            overflow-y: auto;
            max-height: 400px;
        }
        h3 {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 17px;
            text-align: center;
            color: #0d0d10;
        }
        p {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            color: #0d0d10;
            margin-bottom: 0;
        }
        a {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            text-decoration-line: underline;
            color: #0d0d10;
            margin: 24px 0;
        }
        button {
            border-radius: 6px;
            width: 212px;
            height: 41px;
            border: 0;
            background: linear-gradient(114.76deg, #4949ee 22.07%, #0000f5 106.11%);
            color: white;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12px;
        }
    }
}
